.logo {
  background-color: #9793bf;
  height: 45vh;
  text-align: center;
  margin-bottom: 0;
}

.logoImg {
  width: 100%;
  height: 35vh;
}
.titulo {
  background-color: #9793bf;
}

.topicSection {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  margin: 2rem;
  margin-top: 7rem;
}

.topicImg {
  width: 100%;
}
.textoRespo {
  display: none;
  font-size: 87%;
}
.textoRespo2 {
  display: none;
  font-size: 92%;
}

.formulario {
  display: flex;
  margin: auto 25%;
  padding: 4rem;
  justify-content: center;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 10%);
}
.infoPersonal {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  margin: 4rem;
}
.photoCaroline {
  border-radius: 150%;
  width: auto;
  height: 23vh;
}
.presentacion {
  margin-bottom: 4rem;
}
.three--colsSocial {
  grid-template-columns: repeat(3, 1fr);
}
.socialLogo {
  width: auto;
  height: 7vh;
}
